*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(10, 17, 32);
}
header {
    /* margin:8% 0% 4% 0%; */
    padding: 2% 0% 3% 5%;
    color: white;
    font-size: 64px;
    font-family: serif;
    text-shadow: 3px 3px 4px rgb(70, 135, 205);
    /* border-top: 2px solid white; */
}
li {
    font-family: Georgia,  serif;
    font-size: 32px;
    color:white;
    line-height: 1.2;
    word-spacing: 10px;
    letter-spacing: 0.5px;
    margin: 0% 5% 3% 5%;
}
.highlight {
    color: aqua;
}
